.courses-grid img {
  height: 12.5rem;
  object-fit: cover;
}

@media screen and (min-width: 576px) {
  .courses-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 55%));
    gap: 1rem;
    justify-content: center;
  }

  .empty {
    font-size: 3.3rem;
  }
}