.carousel-item > img {
  height: 14rem;
  object-fit: cover;
  border-radius: .3rem;
}

.carousel-indicators > li {
  height: .6rem;
  width: .6rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.carousel-text {
  position: absolute;
  right: 45%;
  bottom: 17%;
  left: 10%;
  color: rgb(132, 144, 158);
  background-color: rgba(235, 235, 235, 0.8);
  border-radius: 10px;
  padding: 4px;
  text-align: center;
}

.carousel-text h5 {
  text-align: center;
  color: black;
}

.carousel-text p {
  font-size: 0.8rem;
  text-align: justify;
  color: black;
}

.payment-container {
  height: 12.6rem;
}

.payment-container-admin {
  height: 14rem;
}

.stadistics-container {
  height: 9rem;
}

.small-box > .inner {
  height: 7.8rem;
  display: inline-grid;
  align-items: center;
}

.empty-container {
  height: 11.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  font-size: 2rem;  
  color: rgba(131, 158, 170, 0.4);
  text-align: center;
  font-weight: 600;
}

.cards-grid img {
  height: 12.5rem;
  object-fit: cover;
}

.cards-grid {
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 576px) {
  .carousel-item > img {
    height: 18.8rem;
  } 
}

@media screen and (min-width: 991px) {
  .stadistics-container {
    height: 7.5rem;
  }
  
  .small-box > .inner {
    height: 6.4rem;
    display: inline-grid;
    align-items: center;
  }
}
@media screen and (min-width: 1180px) {
  .cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 50%));
    gap: 1rem;
    justify-content: center;
  }
}
