.callout {
  border-top: solid 1px #ddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.course-data-card,
.pay-step-box {
  max-width: 33rem;
}

.bs-stepper .step-trigger:not(:disabled):not(.disabled) {
  cursor: default;
}

.bs-stepper .step-trigger {
  pointer-events: none;
}

.bs-stepper .step-trigger.disabled,
.bs-stepper .step-trigger:disabled {
  opacity: 0.85;
}

.bs-stepper .step.active .step-trigger {
  color: #007bff;
  outline: 0;
}

.single-step .step:not(.active) {
  display: none;
}

.bs-stepper-content .content.initial {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

@media (max-width: 520px) {
  .bs-stepper .step-trigger {
    -ms-flex-direction: initial;
    flex-direction: initial;
    padding: 20px;
  }
}

/* loading state */
.loading-container {
  padding-top: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loading {
  width: 15rem;
  height: 15rem;
  border: 1.5rem solid transparent;
  border-bottom-color: #007bff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 