/* Box sizing rules */
*,
*::before,
*::after {
box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
list-style: none;
}

/* Set core root defaults */
html:focus-within {
scroll-behavior: smooth;
}

/* Set core body defaults */
body {
min-height: 100vh;
text-rendering: optimizeLegibility;
line-height: 1.5;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

header {
  font-size: 11pt;
  line-height: 13pt;
  width: 700px;
  margin: 0 auto;
  position: relative;
  left: 3rem;
}

.bold-italic {
  font-style: italic;
  font-weight: bold;
}

.header-title {
  font-size: 13pt;
  margin-top: 4px;
}

.style-none {
  list-style: none;
}