body {
  padding: 2rem 0;
  width: 700px;
  margin: 0 auto;
}

.title-box {
  margin: 0 auto;
  width: 28rem;
  height: 1.2rem;
  background-color: #9DA7EE;
  padding-top: 5px;
  border-radius: 10px;
  font-size: 13pt;
}

h1 {
  font-weight: normal;
  font-size: 15pt;
  margin-top: 2rem;
}

section {
  margin-top: 1.5rem;
}

.data,
.checks {
  text-align: left;
  margin-bottom: 2rem;
}

.checks li {
  list-style-type: disc; 
}

span {
  font-weight: bold;
}

.small {
  font-size: 11pt;
  font-weight: bold;
}

td {
  border: 1px solid black;
  min-width: 120px;
  height: 100px;
  vertical-align: top;
  position: relative;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

.date {
  position: absolute;
  top: 45px;
  left: 25px;
}

.seal-title,
.date-title {
  position: absolute;
  left: 35px;
}

#logo {
  position: absolute;
  top: 3rem;
  left: 1rem;
  width: 6rem;
}

.note {
  padding: 0 2.2rem;
  margin-bottom: 3rem;
}
